<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pagina1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">pagina1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-input label="Nombre" placeholder="Nombre" value = "{{variableStorage}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Edad" placeholder="Edad">{{edadRecibida}}</ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Rut" placeholder="XXXXXXXXX-X"></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
